<html>
    <head>
        <title>Django Girls blog</title>
    </head>
    <body>
        <div>
            <h1><a href="/">Django Girls Blog</a></h1>
        </div>
        {% for post in posts %}
        	<div>
		        <p>published: {{ post.published_date }}</p>
		        <h1><a href="">{{ post.title }}</a></h1> 
		        <!--esto tiene forma de link pero sin nada de direccion a donde llevar-->
		        <p>{{ post.text|linebreaksbr }}</p> 
		        <!--linebreaksbr es usado para transformar los saltos de linea en parrafos-->
		    </div>
        {% endfor %}
    </body>
</html>